{% extends 'template.html' %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/template-margo.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/List of films from user's account.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<main>
    <div class="page_title">
        <div class="row">
            <a class="col-sm-auto" href="#"><img src="{% static 'img/correct/back-vector.svg' %}" width="33"
                                                 height="33"></a>
            <h1 class="col">Favourites</h1>
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item categories">
            <a class="nav-link link">Categories</a>
            <div class="genres" id="categories">
                <div class="row">
                    <div class="col object" id="films">Films</div>
                </div>
                <div class="row">
                    <div class="col object" id="serials">Serials</div>
                </div>
                <div class="row">
                    <div class="col object" id="anime">Anime</div>
                </div>
            </div>
        </li>
        <li class="nav-item all_genres">
            <a class="nav-link link">All_genres</a>
            <div class="genres">
                <div class="row">
                    <div class="col-3 object" id="action">Action</div>
                    <div class="col-3 object" id="adventure">Adventure</div>
                    <div class="col-3 object" id="animation">Animation</div>
                    <div class="col-3 object" id="biography">Biography</div>
                    <div class="col-3 object" id="comedy">Comedy</div>
                    <div class="col-3 object" id="crime">Crime</div>
                    <div class="col-3 object" id="documentary">Documentary</div>
                    <div class="col-3 object" id="drama">Drama</div>
                    <div class="col-3 object" id="family">Family</div>
                    <div class="col-3 object" id="fantasy">Fantasy</div>
                    <div class="col-3 object" id="history">History</div>
                    <div class="col-3 object" id="horror">Horror</div>
                    <div class="col-3 object" id="kids">Kids</div>
                    <div class="col-3 object" id="music">Music</div>
                    <div class="col-3 object" id="mystery">Mystery</div>
                    <div class="col-3 object" id="reality">Reality</div>
                    <div class="col-3 object" id="romance">Romance</div>
                    <div class="col-3 object" id="science_fiction">Science fiction</div>
                    <div class="col-3 object" id="thriller">Thriller</div>
                    <div class="col-3 object" id="tv_movie">TV Movie</div>
                    <div class="col-3 object" id="war">War</div>
                </div>
            </div>
        </li>
    </ul>
    <div class="content container" id="content"></div>
    <div class="get_more">Load more</div>
</main>
{% endblock %}


{% block scripts %}
<script>

    function getString(text, length) {
        if (text.length <= length) {
            return text;
        } else {
            return text.slice(0, length - 1) + "...";
        }
    }

    //Заполнение сетки фильмов
    function create_object() {
        let object = document.createElement('figure');
        object.className = "col film_object";
        //img
        let img = document.createElement('img');
        img.src = 'static/data/anime.jfif';
        img.title = 'Похороны Короля Роз';
        img.className = 'poster';
        object.append(img);
        //h2
        let link = document.createElement('a');
        link.className = 'film_link';
        link.href = '../account/main.html';
        let h2 = document.createElement('h2');
        h2.className = 'film_title';
        h2.innerText = getString("Похороны Короля Роз", 14);
        link.append(h2);
        object.append(link);
        //h3
        h3 = document.createElement('h3');
        h3.className = 'film_genres';
        h3.innerText = getString("Сверхестественное, Драма, Экшен", 17);
        object.append(h3);
        return object;
    }

    function create_row() {
        var row = document.createElement('div');
        row.className = "row";
        for (var i = 0; i < 5; i++) {
            row.append(create_object());
        }
        return row;
    }

    var main = document.querySelector('div.content');
    for (var i = 0; i < 4; i++) {
        main.append(create_row());
    }

    document.querySelector('div.get_more').onclick = function () {
        for (var i = 0; i < 4; i++) {
            main.append(create_row());
        }
    }

</script>
{% endblock %}